header {
  margin-bottom:20px;
}
.ui.vertical.menu      {
  background:#03a9f4;
}

.ui.button.fixedWidth {
  min-width:250px;
}
#logo{
  width:100%;
}
.menuButt {
  color:#ffffff !important;
}
.ui.statistics>.statistic {
  margin-left:auto;
  margin-right:auto;
}
.ui.positive.message {
  height:100%;
}
